
*.o

*.cache

*.mdb

*.dll

AdvancedColorPickerDemo/obj/Debug/monotouch_dll_content_processed

AdvancedColorPickerDemo/obj/Debug/monotouch_version

AdvancedColorPickerDemo/obj/Release/monotouch_dll_content_processed

AdvancedColorPickerDemo/obj/Release/monotouch_version

*.exe

*.dylib

AdvancedColorPickerDemo/bin/iPhone/Release/.monotouch_uploaded

AdvancedColorPickerDemo/bin/iPhoneSimulator/Debug/AdvancedColorPickerDemo.app/Settings.bundle/Root.plist

AdvancedColorPickerDemo/bin/iPhoneSimulator/Debug/AdvancedColorPickerDemo.app/MonoTouchDebugConfiguration.txt

AdvancedColorPickerDemo/bin/iPhoneSimulator/Debug/AdvancedColorPickerDemo.app/AdvancedColorPickerDemo

AdvancedColorPickerDemo/bin/iPhone/Release/AdvancedColorPickerDemo.app/embedded.mobileprovision

AdvancedColorPickerDemo/bin/iPhone/Release/AdvancedColorPickerDemo.app/_CodeSignature/CodeResources

AdvancedColorPickerDemo/bin/iPhone/Release/AdvancedColorPickerDemo.app/ResourceRules.plist

AdvancedColorPickerDemo/bin/iPhone/Release/AdvancedColorPickerDemo.app/PkgInfo

AdvancedColorPickerDemo/bin/iPhone/Release/AdvancedColorPickerDemo.app/Info.plist

AdvancedColorPickerDemo/bin/iPhone/Release/AdvancedColorPickerDemo.app/AdvancedColorPickerDemo

AdvancedColorPickerDemo/bin/iPhone/Release/AdvancedColorPickerDemo.app.dSYM/Contents/Resources/DWARF/AdvancedColorPickerDemo

AdvancedColorPickerDemo/bin/iPhone/Release/AdvancedColorPickerDemo.app.dSYM/Contents/Info.plist

AdvancedColorPickerDemo/bin/iPhoneSimulator/Debug/AdvancedColorPickerDemo.app/Info.plist

AdvancedColorPickerDemo/bin/iPhoneSimulator/Debug/AdvancedColorPickerDemo.app/MonoTouchSimulatorAssemblies.list

AdvancedColorPickerDemo/bin/iPhone/Release/AdvancedColorPickerDemo.xcent

.DS_Store
